<div
  class="surface-card shadow-2 border-round my-5 mx-6 p-4 flex flex-column justify-content-between"
  style="min-height: 92vh"
>
  <!-- surface-card p-4 shadow-2 border-round w-4 m-auto mt-8 min-w-min -->
  <!-- w-full h-auto lg:w-4 justify-content-center align-items-center -->
  <div id="Header">
    <div
      id="buttonContainer"
      class="surface-card shadow-2 flex justify-content-end flex-wrap m-2"
    >
      <button
        pButton
        pRipple
        label="Return"
        icon="pi pi-home"
        class="w-full min-w-min max-w-min"
        (click)="onReturnButtonClick()"
      ></button>
    </div>
    <div
      id="ticketContainer"
      class="surface-card shadow-2 border-round flex justify-content-around align-content-end"
    >
      <div id="topFunctions">
        <div id="employeeIDInput">
          <p-floatLabel>
            <input id="employeeIDInput" type="text" pInputText />
            <label for="employeeIDInput">employeeID</label>
          </p-floatLabel>
        </div>
      </div>
      <!-- <div
        class="shadow-2 border-round justify-content-center align-content-center px-3 py-2"
        [ngClass]="
          ticket.status == 'open' ? 'green-background' : 'red-background'
        "
      >
        Ticket Status: {{ ticket.status }}
      </div>
      <div
        class="shadow-2 border-round justify-content-center align-content-center px-3 py-2 blue-background"
      >
        Date of Ticket Creation {{ ticket.dateAndTimeOfCreation }} -->
      <!-- <p-card styleClass="mypcard">Other Related information</p-card>
    <p-card styleClass="mypcard">Date of Ticket Creation</p-card> -->
      <!-- </div>
    </div> -->
    </div>

    <div id="chatContainer" class="shadow-2 text-center mb-4">
      <p>ticket-create works!</p>
      <div>This is Where ticket creation controls go</div>
    </div>
    <div
      id="bottomButtonControlBar"
      class="flex flex-row justify-content-between"
    >
      <button
        pButton
        pRipple
        label="Discard Ticket"
        icon="pi pi-times-circle"
        class="w-full min-w-min max-w-min"
        (click)="onDiscardButtonClick()"
      ></button>
      <button
        pButton
        pRipple
        label="Complete Ticket Creation"
        icon="pi pi-file-export"
        class="w-full min-w-min max-w-min"
        (click)="onCompleteTicketCreationButtonClick()"
      ></button>
    </div>
  </div>
</div>
